<div id="admin-control">
    <a href="/portfolio/add" {% if adminControl == "portfolio" %}class="active"{% endif %}>Add project to portfolio</a>
    <a href="#">Add blog post</a>
    <a href="#">Edit blog post</a>
</div>