{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="flex-row">
        <a href="{{ path('post_edit', {'slug': post.slug}) }}">Edit</a>
        <a href="{{ path('post_delete', {'id': post.id}) }}">Delete</a>
        <a href="{{ path('post_show', {'slug': post.slug}) }}">View</a>
    </div>
{% endif %}