{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="flex-row controls">
        <a class="btn secondary no-link" href="{{ path('post_edit', {'slug': post.slug}) }}">Edit</a>
        <a class="btn danger no-link" href="{{ path('post_delete', {'id': post.id}) }}">Delete</a>
    </div>
{% endif %}